/*中间内容部分*/
.main_w{
    width:100%;
    position:relative;
    z-index:500;
}
.main{
    width:990px;
    margin:0px auto;
}
.pathstyle1{
    height:88px;
    line-height:88px;
}
.pathstyle1 li{
    height:88px;
    font-size:18px;
    color:#333;
    display:inline-block;
    font-family:微软雅黑;
    padding:0px 5px;
}
.cp_header {
    width: 990px;
    background: #fff;
    margin-bottom: 20px;
}
.cp_headerimg_w{
    width:328px;
    float:left;
    overflow:hidden;
}
.favbtns {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    position: absolute;
    right: 25px;
    top: 25px;
}
.cp_main_info_w .favbtns .addToFav_con {
    display: inline-block;
    vertical-align: top;
    background: #ff3232;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    height: 48px;
    padding: 0px 14px;
    border: 1px solid #e90808;
    border-right-color: rgb(233, 8, 8);
    border-right-style: solid;
    border-right-width: 1px;
    border-right: 0px;
    line-height: 48px;
}
.bdshare_b {
    display: inline-block;
    vertical-align: top;
}
.yj_tags {
    display: block;
    height: 34px;
    width: 540px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 30px;
}
.yj_tags dt {
    display: inline-block;
    vertical-align: top;
    float: left;
}
.yj_tags dt a {
    display: inline-block;
    vertical-align: top;
    float: left;
    background: #60a531;
    border: 1px solid #46811d;
    height: 32px;
    padding: 0px 8px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none;
}
.cp_main_info_w .info2 {
    overflow: hidden;
}
.cp_main_info_w .info2 ul {
    display: block;
}
.cp_main_info_w .info2 ul li.w127 {
    width: 104px;
    list-style: none;
}
.cp_main_info_w .info2 ul li {
    float: left;
    border-right: 1px solid #eee;
    padding: 18px 0px 18px 20px;
    border-bottom: 1px solid #eee;
}
.cp_main_info_w .info2 ul li strong {
    font-size: 12px;
    color: #999;
    line-height: 18px;
    display: block;
    height: 18px;
}
.cp_main_info_w .info2 ul li a.big {
    display: block;
    font-size: 24px;
    color: #ff3232;
    font-family: Microsoft Yahei;
    line-height: 30px;
    width: 100px;
    cursor: default;
}
.cp_main_info_w .info2 ul li.w270 {
    width: 279px;
    list-style: none;
}
.cp_headerimg_w img{
    width:328px;
    display:block;
    float:left;
}
.cp_main_info_w {
    float: right;
    width: 662px;
    position: relative;
    overflow: hidden;
}
.cp_main_info_w .info1 {
    padding-left: 25px;
    border-bottom: 1px solid #eee;
    height: 129px;
}
.cp_main_info_w .info1 .title {
    max-width: 288px;
    height: 44px;
    padding: 8px 0px;
    line-height: 44px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.cp_main_info_w .info1 .title a {
    color: #333;
    text-decoration: none;
}
.cp_main_info_w .info2 ul li .processing_w {
    height: 30px;
    font-size: 12px;
    color: #666;
}
.cp_main_info_w .info2 ul li .processing_w span.icon_nd {
    background-position: -3px -39px;
}
.cp_main_info_w .info2 ul li .processing_w span.icon {
    display: block;
    height: 30px;
    width: 30px;
    float: left;
    background: url("https://s2.ax1x.com/2019/12/12/QyQzCQ.gif") no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    float: left;
}

.cp_main_info_w .info2 ul li .processing_w span.processing_nd4 {
    background-position: 0px -80px;
}
.cp_main_info_w .info2 ul li .processing_w span.processing {
    height: 20px;
    width: 140px;
    background: url("https://s2.ax1x.com/2019/12/12/Qy1CJe.gif") no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    overflow: hidden;
    display: block;
    position: relative;
    top: 7px;
    margin-left: 5px;
    float: left;
    display: inline;
}
.cp_main_info_w .info2 ul li .processing_w a.small {
    display: block;
    color: #666;
    line-height: 24px;
    float: left;
    padding-top: 6px;
    _display: inline;
    cursor: default;
}
/*难度*/
.cp_main_info_w .info2 ul li .processing_w span.icon_nd {
    background-position: -3px -39px;
}
/*难度*/
.cp_main_info_w .info2 ul li .processing_w span.processing_nd4 {
    background-position: 0px -80px;
}
/*人数*/
.cp_main_info_w .info2 ul li .processing_w span.icon_rs {
    background-position: -3px -111px;
}
.cp_main_info_w .info2 ul li .processing_w span.processing_nd12 {
    background-position: 0px -240px;
}
/*准备时间*/
.cp_main_info_w .info2 ul li .processing_w span.icon_zb {
    background-position: -3px -2px;
}
.cp_main_info_w .info2 ul li .processing_w span.processing_nd7 {
    background-position: 0px -140px;
}
/*烹饪时间*/
.cp_main_info_w .info2 ul li .processing_w span.icon_pr {
    background-position: -3px -74px;
}
.cp_main_info_w .info2 ul li .processing_w span.processing_nd9 {
    background-position: 0px -180px;
}
/*用户*/
.cp_main_info_w .info3 .user {
    height: 110px;
    padding: 20px 0px 20px 20px;
    overflow: hidden;
}
.cp_main_info_w .info3 .user a.img {
    display: block;
    height: 70px;
    width: 70px;
    float: left;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
}
.cp_main_info_w .info3 .user .info {
    float: left;
    padding-left: 10px;
    height: 70px;
}
.cp_main_info_w .info3 .user h4 {
    height: 22px;
    line-height: 0px;
    font-size: 14px;
    color: #ff3232;
    position: relative;
}
.cp_main_info_w .info3 .user h4 a {
    color: #ff3232;
    display: inline-block;
    vertical-align: top;
    padding-right: 0px;
    height: 22px;
}
.cp_main_info_w .info3 .user span {
    line-height: 0px;
    display: block;
    color: #666;
    padding-top: 4px;
}
.cp_main_info_w .info3 .user strong {
    line-height: 59px;
    color: #999;
    font-weight:500;
}
.cp_body_left .materials {
    background: #fff;
    margin-bottom: 20px;
}
.cp_body_left .materials p {
    line-height: 24px;
    font-size: 14px;
    padding: 20px 24px 10px;
    color: #666;
}

.cp_body_left .materials_box div.zl ul {
    float: left;
    width: 590px;
    list-style-type: none;
}
.cpc_h2 {
    font-size: 24px;
    color: #333;
    height: 66px;
    line-height: 66px;
    border-bottom: 1px solid #eee;
    text-indent: 24px;
    font-family: Microsoft Yahei;
    display: block;
}
.cp_body_left .materials_box div.yl {
    border-bottom: 1px solid #eee;
}
.cp_body_left .materials_box div.zl h3 {
    width: 48px;
    /*height: 22px;*/
    color: #fff;
    background: #ff3232;
    border: 1px solid #e90808;
    text-align: center;
    line-height: 22px;
    margin: 14px 5px 14px 25px;
    float: left;
    _display: inline;
}
.cp_body_left .materials_box div.zl h3 a {
    color: #fff;
    cursor: default;
    font-size:14px;
    padding-top:-5px;
}
.cp_body_left .materials_box div.zl ul li {
    float: left;
    width: 295px;
    border-right: 1px solid #eee;
    height: 78px;
    border-bottom: 1px solid #eee;
}
.cp_body_left .materials_box div.zl ul li a.img {
    float: left;
    width: 50px;
    height: 50px;
    padding: 14px 0px 14px 14px;
}
.cp_body_left .materials_box div.zl ul li a.img img {
    display: block;
    width: 50px;
    height: 50px;
}
.cp_body_left {
    float: left;
    width: 670px;
}

/*小字*/
.cp_body_left .materials_box div.zl ul li div.c {
    float: left;
    width: 214px;
    height: 50px;
    padding: 14px 0px 15px 27px;
}
.cp_body_left .materials_box div.zl ul li div.c h4 {
    line-height: 24px;
    font-size: 14px;
    color: #333;
    height: 24px;
    float: left;
    width: 204px;
    overflow: hidden;
}
.cp_body_left .materials_box div.zl ul li div.c h4 a {
    color: #333;
}
.cp_body_left .materials_box div.zl ul li div.c span {
    color: #999;
    padding-left: 10px;
    line-height: 24px;
    float: right;
    font-size: 12px;
}
.cp_body_left .materials_box div.zl ul li div.c a.fortb {
    height: 26px;
    width: 204px;
    display: block;
    float: left;
    background: url("https://s2.ax1x.com/2019/12/12/Qywlqg.gif") left top no-repeat;
    margin-top: -12px;
}

/*辅料*/
.cp_body_left .materials_box div.yl {
    border-bottom: 1px solid #eee;
}
.cp_body_left .materials_box div.fuliao h3 a {
    color: #999;
    cursor: default;
    font-size:14px;

}
.cp_body_left .materials_box div.fuliao h3 {
    width: 48px;
    color: #999;
    background: #f5f5f5;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 24px;
    margin: 14px 5px 14px 25px;
    float: left;
    _display: inline;
}
.cp_body_left .materials_box div.fuliao ul {
    float: left;
    width: 590px;
}
.cp_body_left .materials_box div.fuliao ul {
    float: left;
    width: 590px;
}
.cp_body_left .materials_box div.fuliao ul li {
    float: left;
    width: 294px;
    border-right: 1px solid #eee;
    height: 54px;
    border-bottom: 1px solid #eee;
    list-style-type: none;
}
.cp_body_left .materials_box div.fuliao ul li h4 {
    text-indent: 14px;
    color: #666;
    float: left;
    font-size: 14px;
    line-height: 54px;
    height: 54px;
    display: inline-block;
    vertical-align: top;
}
.cp_body_left .materials_box div.fuliao ul li h4 {
    text-indent: 14px;
    color: #666;
    float: left;
    font-size: 14px;
    line-height: 34px;
    height: 54px;
    display: inline-block;
    vertical-align: top;
}
.cp_body_left .materials_box div.fuliao ul li h4 a {
    color: #333;
}
.cp_body_left .materials_box div.fuliao ul li span {
    display: block;
    height: 54px;
    line-height: 54px;
    color: #999;
    text-align: right;
    padding-right: 16px;
    float: right;
    width: 120px;
}
.cp_body_left .materials_box div.fuliao ul li a.fortb {

    height: 26px;
    width: 26px;
    float: left;
    margin: 14px 10px;
    background: url("https://s2.ax1x.com/2019/12/12/Qywlqg.gif") left -2px no-repeat;
    _display: inline;

}
/*做法*/
.cp_body_left .measure {
    background: #fff;
    margin-bottom: 20px;
}
.cpc_h2 {
    font-size: 24px;
    color: #333;
    height: 66px;
    line-height: 66px;
    border-bottom: 1px solid #eee;
    text-indent: 24px;
    font-family: Microsoft Yahei;
    display: block;
}
.cp_body_left .measure .editnew {
    padding: 20px 0px;
    overflow: hidden;
}
.cp_body_left .measure .editnew div.content em.step {
    font-size: 24px;
    color: #ff3232;
    font-style: italic;
    text-align: center;
    font-family: arial;
    height: 50px;
    width: 100px;
    display: Block;
    float: left;
    line-height: 50px;
}
.cp_body_left .measure .editnew div.content div.c {
    float: left;
    width: 550px;
    overflow: hidden;
}
.cp_body_left .measure .editnew div.content {
    line-height: 24px;
    padding: 0px 20px 0px 0px;
    position: relative;
}
.cp_comment {
    width: 670px;
    background: #fff;
}
.cpc_h2 {
    font-size: 24px;
    color: #333;
    height: 66px;
    line-height: 66px;
    border-bottom: 1px solid #eee;
    text-indent: 24px;
    font-family: Microsoft Yahei;
    display: block;
}
.cp_comments_list {
    width: 670px;
    padding: 20px 0px;
}
.cp_com_form_w {
    width: 630px;
    padding: 0px 20px;
}
.cp_com_form_w a.useravatar {
    float: left;
    height: 50px;
    width: 50px;
    float: left;
    display: block;
}
.cp_com_form_w a.useravatar img {
    display: block;
    height: 50px;
    width: 50px;
}
.cp_com_form_w .form_w {
    display: block;
    height: 180px;
    width: 560px;
    /*float: left;*/
    margin-left: 93px;
    position: relative;
    margin-bottom: 20px;
}
.cp_com_form_w .cp_pl_tag {
    height: 24px;
    width: 100%;
    margin-bottom: 10px;
}
.cp_com_form_w .cp_pl_tag em {
    line-height: 24px;
    color: #666;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    height: 24px;
}
.cp_com_form_w .cp_pl_tag span.current {
    background: #ff3232;
    color: #fff;
}
.cp_com_form_w .cp_pl_tag span {
    cursor: pointer;
    line-height: 24px;
    color: #999;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    height: 24px;
    padding: 0px 10px;
    background: #eee;
    margin-right: 10px;

}
.cp_com_form_w .form_w textarea {
    height: 70px;
    width: 530px;
    padding: 14px;
    border: 1px solid #ddd;
    background: #fcfcfc;
    color: #333;
    font-size: 14px;
}
.cp_com_form_w .form_w input.submit {
    box-sizing: content-box;
    height: 40px;
    width: 80px;
    background: #ff3232;
    border: 1px solid #e90808;
    font-size: 14px;
    color: #fff;
    position: absolute;
    right: 29px;
    bottom: 0px;
}
.cp_com_form_w .upload_zp_btn {
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 140px;
    background: #ff3232;
    border: 1px solid #e90808;
    font-size: 14px;
    color: #fff;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.cp_comlist_w {
    width: 630px;
    padding: 20px 20px 0px;
}
.commentslist_li {
    padding: 20px 0px 0px;
    border-bottom: 1px solid #eee;
}
.cp_comlist_w ul li a.avatar {
    height: 82px;
    width: 50px;
    float: left;
}
.cp_comlist_w ul li a.avatar img {
    display: Block;
    height: 50px;
    width: 50px;
}
.cp_comlist_w ul li a.avatar h5 {
    height: 32px;
 
    color: #999;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 50px;
}
.cp_comlist_w ul li div.c {
    /*float: left;*/
    margin-left: 20px;
    width: 560px;
}
.cp_comlist_w ul li div.c p.p1 {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-left: 51px;
}
.cp_comlist_w ul li div.c p.p1 strong {
    color: #ff3232;
    padding-right: 5px;
}
.cp_comlist_w ul li div.info {
    position: relative;
    height: 40px;
    margin-left: 50px;
    color: #999;
}
.cp_comlist_w ul li div.info span a {
    color:   #ff3232;
    padding: 0px 3px;
}
.commentslist_li {
    padding: 20px 0px 0px;
    border-bottom: 1px solid #eee;
    list-style: none;
}
